@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

$primary: #61ad0c;
$black: #08070f;
$darkgrey: #6b6f72;
$white: #ffffff;
$transparent: transparent;
$inputborder: #ced4da;
$bggrey: #f8fdfd;
$yellow: #ffc107;
$placeholder: #979a9d;
$greylight: #f5f5f5;
$greyborder: #eeeeee;
$greybgtab: #f6f7f7;
$checkboxborder: #c6c8c9;
$yellow2: #fc9020;
$red: #e53e2e;
$green: #33c741;

$transition: all 400ms ease;

//Banner Background image animation
$pat-width: 500px;
$pat-height: $pat-width;
$pat-speed: 20s;
$pat-anim: tr;


@import "include/general";
@import "include/responsive";
@import "include/animate";