@media(max-width:1365px){

    .container {
        max-width: 95%;
    }
    .owl-nav {
        button {
            width: 26px;
            height: 26px;
            font-size: 17px !important;
            line-height: 5px !important;
            &.owl-next {
                right: -34px;
            }
            &.owl-prev {
                left: -34px;
            }
        }
    }

    /*----- Home Page -----*/
    .testimonial-slider, .blog-slider {
        .owl-nav {
            button {
                &.owl-prev {
                    left: -25px;
                }
                &.owl-next {
                    right: -25px;
                }
            }
        }
    }
}