@media(max-width:575px){
    .fillter-dropdown {
        max-width: 100%;
        margin-top: 8px;
    }
    .cart-update-group {
        .updatecart-btn {
            text-align: left;
            padding-top: 20px;
        }
    }
}