@media(max-width:767px){

    /*----- General Style -----*/
    body {
        font-size: 14px;
        line-height: 24px;
    }
    .sub-title {
        font-size: 16px;
    }
    .section-headding {
        &.pb-50 {
            padding-bottom: 30px;
        }
        &.pb-35 {
            padding-bottom: 30px;
        }
    }
    .form-group {
        margin-bottom: 15px;
    }
    #main {
        padding-top: 132px;
    }
    .page-banner {
        padding: 50px 0px;
        .sub-page-title {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 8px;
        }
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*----- Heading Style -----*/
    h1 {
        font-size: 32px;
        line-height: 42px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 18px;
    }

    /*----- Button Style -----*/
    .button {
        padding: 8px 25px;
    }
    .owl-dots {
        padding-top: 20px;
        .owl-dot {
            width: 12px;
            height: 12px;
        }
    }

    /*----- Spacer Style -----*/
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .pb-75 {
        padding-bottom: 25px;
    }
    .pb-65 {
        padding-bottom: 15px;
    }
    .mtb-100 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .mt-100 {
        margin-top: 50px;
    }
    .mb-100 {
        margin-bottom: 50px;
    }

    /*----- Header Style -----*/
    .header {
        box-shadow: 0px 0px 10px 1px rgba($black, 0.15);
        padding-top: 15px;
        .header-logo {
            max-width: 100%;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba($black, 0.1);
            img {
                max-width: 160px;
            }
        }
        .main-menu {
            justify-content: space-between;
            .menu-icon {
                margin-right: 0px;
                width: 100%;
                ul {
                    justify-content: space-between;
                    li {
                        margin: 0px 0px;
                        a {
                            display: flex;
                            align-items: center;
                            .count {
                                position: unset;
                                margin-left: 4px;
                            }
                        }
                        &.header-search {
                            order: 3;
                        }
                        &.cart {
                            order: 1;
                        }
                        &.admin-user {
                            order: 2;
                        }
                    }
                }
            }
            &.menu-open {
                .menu {
                    width: 100%;
                }
            }
        }
        .toggle-menu {
            width: 30px;
            height: 26px;
            position: absolute;
            top: 18px;
            right: 20px;
            span {
                width: 20px;
                &:before, &:after {
                    width: 20px;
                }
            }
        }
        &.fixed {
            box-shadow: 0px 0px 10px 1px rgba($black, 0.15);
            .header-logo {
                img {
                    max-width: 160px;
                }
            }
        }  
    }
    .search-popup {
        height: unset;
        .search-popup-inner {
            padding: 16px 0px;
        }
    }
    .cart-menu{
        position: fixed;
        right: unset;
        min-width: unset;
        width: 100%;
        left: 0px;
    }
    
    /*----- Home Page -----*/
    .recipe-slide {
        max-width: 500px;
        margin: 0 auto;
    }
    .team-box {
        max-width: 500px;
        margin: 0 auto;
    }
    .banner-des {
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 20px;
    }
    .home-banner {
        height: unset;
        padding: 50px 0px;
        padding-bottom: 30px;
    }
    .banner-imge-animation {
        .bottom-right-2-img {
            bottom: 8%;
            right: 20px;
            width: 10%;
        }
        .top-center-img {
            top: 50%;
            height: 8%;
        }
    }
    .about-inner {
        .section-headding {
            padding-bottom: 15px;
        }
        .pb-35 {
            padding-bottom: 25px;
        }
    }
    .about-right-img {
        max-width: 70%;
    }
    .about-left-img {
        top: -55px;
    }
    .about-ring {
        top: 24%;
        left: -70px;
        max-width: 120px;
    }
    .about-img-part {
        margin-top: 80px;
    }
    .recipe-img {
        margin-bottom: 20px;
    }
    .recipe-title {
        padding-bottom: 8px;
    }
    .recipe-content {
        p {
            margin-bottom: 10px;

            &.price{
                margin-bottom: 0px;
            }
        }
    }
    .top-recipes-slider {
        margin-bottom: 30px;
    }
    .service-img {
        padding-bottom: 15px;
    }
    .service-title {
        padding-bottom: 10px;
    }
    .service-box {
        padding-bottom: 25px;
    }
    .service-img-2 {
        top: -50px;
    }
    .service-imgs {
        margin-top: 50px;
    }
    .year-text {
        font-size: 16px;
    }
    .years-experience {
        bottom: 20px;
        right: -90px;
        padding: 15px 15px;
    }
    .bike {
        padding-top: 15px;
    }
    .delivery-location {
        max-width: 50px;
    }
    .delivery {
        padding-top: 50px;

        .section-headding{
            padding-bottom: 14px;
        }

        .delivery-img{
            margin-top: 14px;
        }
    }
    .instagram-item a .hover-instagram {
        font-size: 14px;
        text-align: center;
    }
    .app-button li a {
        max-width: 120px;
    }
    .mobile-app-content {
        padding-bottom: 30px;
    }
    .blog-part {
        .section-headding {
            padding-bottom: 15px;
        }
    }
    .blog-content {
        padding: 20px 20px;
    }
    .blog-content {
        .date {
            padding-bottom: 10px;
        }
        .blog-title {
            font-size: 16px;
            margin-bottom: 8px;
            line-height: 24px;
        }
    }

    /*----- Footer Style -----*/
    .footer-inner {
        .order-t-1, .order-t-2, .order-t-3 {
            padding-bottom: 30px;
        }
    }

    /*----- About Page -----*/
    .watch-text {
        font-size: 16px;
        padding-left: 10px;
    }
    .watch-icon {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    .about-2 {
        .about-ring {
            top: unset;
            bottom: -60px;
        }
    }
    .left-container {
        padding-right: 24px;
    }
    .right-container {
        padding-left: 24px;
    }
    /*----- Menu Page -----*/
    .cus-tabbing {
        padding-bottom: 15px;
        li {
            padding: 8px 10px;
            min-width: 120px;
        }
    }

    /*----- Team Page -----*/
    .team-box {
        margin-bottom: 30px;
    }
    .our-team {
        &.team-page {
            padding-bottom: 20px;
        }
    }

    /*----- FAQ Page -----*/
    .accordion-button {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 15px;
        padding-right: 44px;
        &:after {
            background-size: 15px;
            right: 15px;
        }
    }
    .accordion-item {
        margin-bottom: 15px;
    }
    .accordion-body {
        padding: 15px 15px 0px 15px;
    }

    /*----- 404 Page -----*/
    .page-404 {
        .sub-title {
            font-size: 16px;
            padding-bottom: 0px;
        }
        h2 {
            font-size: 28px;
            padding-bottom: 15px;
        }
        .desc-404 br {
            display: none;
        }
        .section-headding.pb-35 {
            padding-bottom: 15px;
        }
        .button {
            margin-top: 5px;
        }
    }

    /*----- Login Page -----*/
    .login-btn-group {
        margin-top: 0px;
        .order-2, .order-1 {
            order: unset !important;
        }
    }
    .customer-form {
        .form-check {
            text-align: left;
            margin-bottom: 30px;
        }
    }
    .account-info {
        margin-top: 25px;
        padding-top: 15px;
    }

    /*----- Contact Page -----*/
    .info-grid {
        padding-bottom: 25px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        &:last-child{
            padding-bottom: 0;
        }
    }
    .contact-form h3 {
        font-size: 22px;
    }
    .info-box {
        padding: 30px 25px;
    }
    .contact-lable {
        font-size: 18px;
    }
    .map-section {
        iframe {
            height: 250px;
        }
    }

    /*----- Bloge List Page -----*/
    .blog-grids-title {
        font-size: 18px;
        line-height: 28px;
    }
    .sidebar-title {
        font-size: 16px;
    }
    .sidebar-search {
        margin-bottom: 30px;
    }
    .from-gallery {
        ul {
            li {
                width: calc(100% / 4);
            }
        }
    }

    /*----- Blog Detail Page -----*/
    .blog-detail-title {
        font-size: 18px;
        line-height: 28px;
    }
    .blog-detail-share {
        justify-content: left;
        padding-top: 15px;
        label {
            width: 60px;
        }
    }
    .section-border-top {
        padding-top: 25px;
        margin-top: 25px;
    }
    .section-heading-small {
        margin-bottom: 20px;
    }
    .commenter-img {
        width: 50px;
    }
    .comment-dtl-box {
        width: calc(100% - 50px);
        padding-left: 15px;
    }
    .blog-img-detail {
        .blockquote-text {
            img {
                max-width: 35px;
            }
        }
    }
    .commenter-name {
        font-size: 16px;
    }
    .button.reply {
        position: unset;
        margin-top: 10px;
    }
    .comment-box {
        .comment-reply {
            padding-left: 0px;
        }
    }
    .form-control {
        font-size: 14px;
    }

    /*----- shop List Page -----*/
    .price-change-flt {
        display: flex;
        padding-top: 10px;
    }
    .price-filter-btn {
        padding-top: 15px;
    }

    /*----- Shop Detail Page -----*/
    .product-info {
        padding-top: 30px;
    }
    .product-price {
        .price {
            font-size: 20px;
        }
    }
    .nav-tabs {
        justify-content: center;
        .nav-item {
            padding-bottom: 20px;
        }
        .nav-link {
            padding: 10px 28px;
        }
    }
    .product-tabbing {
        .nav-tabs {
            padding-bottom: 5px;
        }
    }
    .product-detail-in {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .related-product-in {
        padding-top: 30px;
        margin-top: 30px;
    }
    .add-cart-box {
        .number {
            span {
                width: 42px;
                height: 42px;
            }
            input {
                width: 42px;
                height: 42px;
            }
        }
    }
    .secure-icon img {
        max-height: 42px;
    }
    /*----- Cart Page -----*/
    .table {
        .product-img {
            width: 70px;
        }
        .product-tab-info {
            width: calc(100% - 70px);
            padding-left: 10px;
        }
        &> :not(caption) {
            &> * {
                &> * {
                    padding: 15px 10px;
                }
            }
        }
    }
    .proceed-checkout {
        text-align: left;
    }
    .estimate-shipping {
        .estimate {
            padding-bottom: 40px;
        }
        .title {
            margin-bottom: 15px;
        }
    }
    .cart-total {
        table {
            tbody {
                tr {
                    &:first-child {
                        td {
                            padding-top: 15px;
                        }
                    }
                }
            }
            tfoot {
                td {
                    padding-bottom: 15px;
                }
            }
        }
    }

    /*----- Checkout Page -----*/
    .payment-method {
        li{
            .button {
                min-width: 192px;
            }
        }
    }
}